---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import HeroMain from '../components/HeroMain'
import AreasServed from '../components/AreasServed'
import SuccessfulCases from '../components/SuccessfulCases'
import Aboutus from '../components/Aboutus';
import Navbar from '../components/Navbar'
import Areas from '../components/Areas'
import '../styles.css'
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar />
		<HeroMain />
		<Aboutus />
		<Areas />
		<SuccessfulCases />
	</main>
</Layout>

