---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import HeroMain from '../components/HeroMain'
import AreasServed from '../components/AreasServed'
import SuccessfulCases from '../components/SuccessfulCases'
import '../styles.css'
---

<Layout title="Welcome to Astro.">
	<main>
		<HeroMain />
		<AreasServed />
		<SuccessfulCases />
	</main>
</Layout>

